* {
    font-family: Verdana, Tahoma, sans-serif;
    
}

body {
    background-image: url("./Images/paper-image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
}

h1 {
    font-size: 50px;
}

h2,#recipelist {
    font-size: 30px;
} 

h1,h2,#recipelist {
    color: rgb(74, 74, 199);
}

